* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(rgb(138, 198, 233), rgb(43, 11, 230));
    font-family: sans-serif;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.location,
 .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{

    font-size: 40px;
}